<app-navbar></app-navbar>

<router-outlet>
    <div class="row">
        <div class="col-4">
            <!-- <div class="jumbotron jumbotron-fluid col-3"> -->
            <div class="container">
                <div class="">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Informacion del alumno</h5>
                            <p class="card-text">Nombre: <b>Bernardo Paredes De Santos</b><br> Grupo: <b>TIADSM 4A6D</b><br> Matricula: <b>190873</b></p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              Contactanos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="col-4">
            <!-- <div class="jumbotron jumbotron-fluid col-3"> -->
            <div class="container">
                <div class="">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Informacion del alumno</h5>
                            <p class="card-text">Nombre: <b>Maximiliano Malo Medina</b><br> Grupo: <b>TIADSM 4A6D</b><br> Matricula: <b>190899</b></p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              Contactanos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="col-4">
            <!-- <div class="jumbotron jumbotron-fluid col-3"> -->
            <div class="container">
                <div class="">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Informacion del alumno</h5>
                            <p class="card-text">Nombre: <b>Susana Alba Najera</b><br> Grupo: <b>TIADSM 4A6D</b><br> Matricula: <b>190922</b></p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                             Contactanos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contactos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <b>Bernardo: 4491842426 <br> Susana: 4499309864 <br> Maximiliano: 4493479301</b>
                </div>
            </div>
        </div>
    </div>
</router-outlet>